[submodule "external/build/cimgui"]
	path = external/build/cimgui
	url = git@github.com:cimgui/cimgui.git
[submodule "external/build/glfw"]
	path = external/build/glfw
	url = git@github.com:glfw/glfw.git
